@import url('./../Geral.css');


h1{

    /*mudei aqui */
    margin: 6vw;
    font-size: 3vw;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Dark-Blue);
    margin: 1vw;
    /*mudei aqui */
    border-radius: 1vw;
    width: 80vw;
    margin: auto;
    margin: 6vw auto;
}

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    /*mudei aqui */
    font-size: 2.5vw;
}

.lik {
    display: flex;
    justify-content: space-around;
    background: var(--Dark-Blue);
    /*mudei aqui */
    margin: 10vw;
    /*mudei aqui */
    padding: 2vw;
    border-radius: 0.5vw;  
    font-size: 1.8vw;
}

p {
    /*mudei aqui */
    margin: 3vw;
}

figure {
    /*mudei aqui */
    margin: 5vw;
}

.container figure img {
    /*mudei aqui */
    width: 45vw;
}